body{ background-color: #ebeef4;}
#wrapper{width: 600px; margin: auto;}
#txtUsername{
    background-color: transparent;
    border: solid 1px black;
}
#left, #right {min-height: 300px;}
#left{
    width: 30%; 
    float: left;
    background-color: rgb(40, 170, 90);
}
#right{
    width: 70%; 
    float: left;
    background-color: rgb(88, 174, 177);
}

#boxTitle{border: solid 1px black; padding: 5px; text-align: center; font-weight: bold;}
#boxContent{border: solid 1px black; border-top: none; padding: 5px; text-align: center;}
#sayHi{text-align: right;}
#listMessages{height: 200px; background-color: lightcoral; margin-bottom: 15px;}
#txtMessage{background-color: transparent; border: solid 1px black;}
#lisRequest{height: 200px; width: 300px; background-color: lightcoral; margin-bottom: 15px;}